<div>
    <h4>What is the site for</h4>
    <ul>
        <li>Build a Single Page Application (SPA) DEMO with ASP.NET Web API and Angular.js</li>
    </ul>
    <h4>Demo Features</h4>
    <ul>
        <li>Web API 2.0 RESTful service</li>
        <li>Angularjs controller ajax call web api for data manipulation</li>
        <li>Asynchronously upload file</li>
    </ul>
    <h4>Backend</h4>
    <ul>
        <li>MS SQL SERVER Database</li>
        <li>Web api</li>
        <li>Entity Framework Code First</li>
    </ul>
    <h4>Frontend</h4>
    <ul>
        <li>Angularjs</li>
        <li>Bootstrap</li>
        <li>ng-file-upload</li>
    </ul>
</div>
